doctype
html
	head
	body
		h1 Nodezilla!
		p Using a total of #{nodezilla.virtualUsers} virtual users, I have load tested #{nodezilla.options.host}.
		p I have made a total of #{nodezilla.reqMade} requests, #{nodezilla.successful} were successful and #{nodezilla.error} failed.
		p I calculated a medium page load time of #{nodezilla.mediumPageLoad()}.